html, body{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #446CB3;
}

header{
  margin: 0;
  padding: 0;
}

.text{
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          max-width: 500px;
          width: 100%;
}

h1,
p{
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}


h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 3em;
    margin-bottom: 2px;
  -webkit-filter: drop-shadow(0 8px 3px black);
            filter: drop-shadow(0 8px 3px black);
}

p{
    margin-top: 6px;
    font-weight: 100;
    text-transform: capitalize;
}

.btn{
  max-width: 200px;
  margin: 10px auto;
  color: #aaa;
  font-size: 1.5em;
  padding: 10px 0px;
  border-radius: 5px;
  background: #333;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.btn:hover{
  background: #222;
  color: white;
  -webkit-transition: background 0.5s color 0.5s;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  cursor: pointer;
}
